# Секретные ключи (никогда не выгружать!)
.env

# Виртуальное окружение
.venv/
venv/

# База данных (чтобы не затереть серверную базу локальной)
*.db
*.sqlite3

# Кэш питона
__pycache__/
*.py[cod]

# Системные файлы
.DS_Store
.vscode/server.log

# Логи и временные файлы
*.log
app.log
server.log
bot.log

# Загрузки (Images/Files)
static/uploads/*
!static/uploads/.gitkeep
dump_repo.py
AI_AGENT_CONTEXT.md
credentials.json
client_secret.json
token.json
backups/*
/media/*
web/temp/*
.agent/workflows/plan.md
env.prod
.agent/*
