# Секретные ключи (никогда не выгружать!)
.env

# Виртуальное окружение
.venv/
venv/

# База данных (чтобы не затереть серверную базу локальной)
*.db
*.sqlite3

# Кэш питона
__pycache__/
*.py[cod]

# Системные файлы
.DS_Store
.vscode/server.log
bot.log
__pycache__/
*.db
