[Unit]
Description=Telegram Bot Air API
After=network.target

[Service]
WorkingDirectory=/opt/air-api
ExecStart=/opt/air-api/venv/bin/python /opt/air-api/bot.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target