[Unit]
Description=FastAPI Backend for Air Conditioners
After=network.target

[Service]
# Папка проекта
WorkingDirectory=/opt/air-api
# Команда запуска:
# uvicorn main:app --host 0.0.0.0 --port 8000
# 0.0.0.0 - значит "слушать весь интернет"
ExecStart=/opt/air-api/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
User=root

[Install]
WantedBy=multi-user.target