#Core Framework

fastapi>=0.100.0
uvicorn[standard]>=0.20.0
pydantic-settings
python-dotenv
httpx
beautifulsoup4>=1.0.0
aiosqlite==0.22.1
greenlet==3.3.0
python-slugify==8.0.4
thefuzz

#Database

sqlmodel>=0.0.14
passlib[bcrypt]
asyncpg
psycopg2-binary

#Admin Panel

sqladmin>=0.16.0
jinja2
python-multipart
itsdangerous>=2.0.0
alembic

#Auth
pyjwt

#Telegram Bot

aiogram>=3.0.0

#Google Integration (Docs, Sheets, Drive)

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
num2words

#Script Dependencies
requests
Pillow
duckduckgo-search>=6.0.0
sentry-sdk[fastapi]
pytest
pytest-asyncio
httpx
pytest-env
